:root {
    --color: #e1e1e8;
    --color-background: #2c2c38;
}

html {
    min-height: 100%;
}

body {

    font-family: "Arial", sans-serif;
    background-color: var(--color-background);
    color: var(--color);
    min-height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* This is for the /view/ so the embedded videos are in the center instead of to the left */
.viewer {
    /* flex-direction: column; made content always take 100% of screen size. */
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.viewer-item {
    position: relative;
}

a {
    color: #a087d2;
}

a:hover {
    color: #c8acff;
}

.embed-video {
    /* So video doesn't go off screen if it's larger than the body and you can't scroll sideways. */
    max-width: 100%;
}
.embed-video-constrained {
    max-width: 100%;
    max-height: calc(100vh - 100px);
}

.heart {
    color: rgb(102, 45, 145, 0.05);
    font-size: 3.5em;
    position: fixed;
    bottom: 10px;
    right: 10px;
    pointer-events: none;
}

.video-controls {
    --icon-size: 32px;
    --icon-padding: 4px;
    position: absolute;
    top: 0;
    width: 100%;
    color: var(--color);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.video-controls:hover {
    opacity: 1;
}

.video-controls-extra-space {
    height: 25px;
}

.video-controls-container {
    display: flex;
    align-items: center;
    background-color: rgb(44, 44, 56, 0.3);
    padding: 5px;
}

.video-volume, .video-fullscreen {
    display: flex;
    align-items: center;
    height: calc(var(--icon-size) + 2 * var(--icon-padding));
    padding: var(--icon-padding) calc(2 * var(--icon-padding));
    border-radius: var(--icon-size);
    transition: background-color 0.1s ease-in-out;
}

.video-icon {
    cursor: pointer;
}

.video-icon:hover {
    filter:brightness(0.9);
}

.video-icon:active {
    filter: brightness(0.8);
}

/* Disable the pointer events because these are loaded from <object> we can't apply anything. */
.video-icon object {
    pointer-events: none;
}

.video-volume {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 300px;
    gap: 5px;
}

.video-volume-toggle {
    width: var(--icon-size);
}

.video-volume-slider {
    flex: 1 1 auto;
}

.video-volume-slider input {
    width: 100%;
}

.video-fullscreen {
    width: var(--icon-size);
}

#tools {
}

.inline-block {
    display: inline-block;
}

.invisible {
    visibility: hidden;
}